.App {
  
  height: 100vh;
  padding-top: 10px;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background: black;
  border-radius: 20px;
  border: 5px solid gray;
}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}